.login-page {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color:#471E6A ;
    /* width: 75%; */
    /* height: 75%; */
    margin: auto;
    padding-top: 60px;
    padding: 6rem;

    /* background-color: #f0f0f0; Light background color */
}

.login-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.google-btn {
    background-color: #4285f4; 
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.action {
    width: 100%;
}

.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 12px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100%;
}

.google-button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}